<!DOCTYPE html>
<html>
<head>
  <title>vinolivera.com</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= controller_stylesheet_link_tag %>

  <script type="text/javascript">
    Cufon.replace('h1', {fontFamily: 'Copse', hover:true})
    Cufon.replace('p.info', {fontFamily: 'Gabriola', hover:true})
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  <%=  controller_javascript_include_tag %>
</body>
</html>
